[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/seagarwu/mynotebooks/blob/main/shioaji/shioaji_onlinedoc/shioaji-market_data-credit_enquires.ipynb)

# Credit Enquires

## [First, you need login.](shioaji-quick_start.ipynb)

In [1]:
import shioaji as sj
import getpass as gp

api = sj.Shioaji()
user_id, user_pass = gp.getpass("USER ID: "), gp.getpass("USER PASS: ")
accounts = api.login(user_id, user_pass)

Response Code: 0 | Event Code: 0 | Info: host '203.66.91.161:80', hostname '203.66.91.161:80' IP 203.66.91.161:80 (host 1 of 1) (host connection attempt 1 of 1) (total connection attempt 1 of 1) | Event: Session up

## Get Credit Enquires
可查特定股票的資券餘額

In [2]:
contracts = [api.Contracts.Stocks['2330'],api.Contracts.Stocks['2890']]
credit_enquires = api.credit_enquires(contracts)
credit_enquires

[CreditEnquire(update_time='2022-04-27 13:18:41', system='HE', stock_id='2330', margin_unit=1339),
 CreditEnquire(update_time='2022-04-27 13:30:05', system='HF', stock_id='2330', margin_unit=1331),
 CreditEnquire(update_time='2022-04-27 13:18:41', system='HC', stock_id='2330', margin_unit=1340, short_unit=308),
 CreditEnquire(update_time='2022-04-27 13:30:09', system='HN', stock_id='2330', margin_unit=1348),
 CreditEnquire(update_time='2022-03-18 17:52:31', system='HD', stock_id='2330', margin_unit=4, short_unit=54),
 CreditEnquire(update_time='2022-04-27 11:43:35', system='HN', stock_id='2890'),
 CreditEnquire(update_time='2022-04-26 11:24:45', system='HF', stock_id='2890'),
 CreditEnquire(update_time='2022-04-25 08:56:11', system='HC', stock_id='2890'),
 CreditEnquire(update_time='2022-04-27 13:06:11', system='HE', stock_id='2890')]

## Credit Enquires to DataFrame

In [4]:
import pandas as pd
contracts = [api.Contracts.Stocks['2330'],api.Contracts.Stocks['2890']]
credit_enquires = api.credit_enquires(contracts)
df = pd.DataFrame(credit_enquires)
df.update_time = pd.to_datetime(df.update_time)
df

   margin_unit  short_unit stock_id system         update_time
0         1337           0     2330     HE 2022-04-27 13:18:41
1         1331           0     2330     HF 2022-04-27 13:30:05
2         1340         308     2330     HC 2022-04-27 13:18:41
3         1348           0     2330     HN 2022-04-27 13:30:09
4            4          54     2330     HD 2022-03-18 17:52:31
5            0           0     2890     HN 2022-04-27 11:43:35
6            0           0     2890     HF 2022-04-26 11:24:45
7            0           0     2890     HC 2022-04-25 08:56:11
8            0           0     2890     HE 2022-04-27 13:06:11

> Attributes:<br>
>
> update_time (str): update time.<br>
> system (str): system.<br>
> stock_id (str): stock_id.<br>
> margin_unit (int): margin unit.<br>
> short_unit (int): short unit.<br>

---
### Prev: [Market Data / Short Stock Source](shioaji-market_data-short_stock_source.ipynb) Next: [Market Data / Scanners](shioaji-market_data-scanners.ipynb)